.new-event-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.new-event-form {
    max-width: 600px;
	width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
	margin-top: 2rem;
}

.new-event-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.new-event-form input,
.new-event-form textarea,
.new-event-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.new-event-form textarea {
    height: 100px;
}

.new-event-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.new-event-form button:hover {
    background-color: #0056b3;
}